apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-deployment
  namespace: kim
  labels:
    app: todo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:
      containers:
      - name: todo
        image: jkk3366/jenkins:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8082